pre {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 9.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
code, pre {
    border-radius: 3px;
    color: #333;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}
.hidden_protection {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: none !important;
    color: transparent !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}
.pagin__row .right .pagin .pagin__item.is-inactive{display:none;}
/*
[id^="bx_incl_area"] {display:inline-block;}
.bx-context-toolbar-empty-area{min-width:12px;}
*/
.header .auth-bar .auth-top {
    text-align: right;
}
#order_form_div .content {
	width: 100%;
	padding-left: 0;
}
#order_form_div .content .personal {
	width: 100%;
}
#order_form_content {
	display: inline-block;
	width: 100%;
}
#order_form_content .order_head {
	display: inline-block;
	width: 54%;
}
#order_form_content .order_head .form__row {
	float: left;
	width: 100%;
}
.vatop {
	vertical-align: top;
}
div.title-search-result {
	overflow: visible!important;
	border: none!important;
	background-color: transparent!important;
}
.title-search-result .result__list {
	 background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.29);
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.29);
	margin-top: 10px;
	padding: 10px 19px 16px;
	position: relative;
	top: 100%;
	width: 73.4%;
}
.title-search-result .result__list a {
	color: #515151;
	display: inline-block;
	padding: 4px 0 5px;
	text-transform: uppercase;
	-webkit-transition: color 0.3s ease 0s;
	-moz-transition: color 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s;
	transition: color 0.3s ease 0s;
	width: 100%;
}
.title-search-result .result__list a:hover {
	color: #0051a2;
}
.htop {
	margin-top: 24px;
}
.btop {
	margin-top: 48px;
}
.hbot {
	margin-bottom: 24px;
}
.left__sidebar .nav .list-links li a {
	padding: 5px 10px 6px 0;
}
.npad {
	padding: 0 0 0;
}
.map .col50 > ul {
	width: 49.7%;
}
.figure .gallery .gallery__pictures {
	height: auto;
}
.figure .gallery .gallery__pictures img {
	margin-bottom: 0;
}
blockquote {
	margin-bottom: 40px;
}
.pagin__row > .cont {
    float: left;
    width: 220px;
}
.fixed__case {z-index: 11;}
.header .phone .phone__list {z-index: 12;}
.popup__wrap {z-index: 50;}
.order__item {
	display: inline-block;
	width: 100%;
}
.order__box .order__scroll .scroll__inner {height: auto;}
.order__scroll {position: relative; height: 276px;}
.ps-scrollbar-y {
	background: #b8bdc2;
}
.ps-container > .ps-scrollbar-y-rail {right: 3px;}
.order__box .order__scroll {
	padding: 0 10px 0 17px;
	margin: 12px 0 0 0;
}
.order__box {
	padding-bottom: 16px;
}
.map {
	background-repeat: repeat-x;
	background-position: center center;
}


.col50.disk .col50 .field:first-child,
.col50.disk .col50 .field:nth-child(2) {
	padding-right: 24px;
	position: relative
}
.col50.disk .col50:last-child .field:first-child::after,
.col50.disk .col50:last-child .field:nth-child(2)::after {
	background-image: url("../img/icons/separator.png");
	content: "";
	height: 9px;
	left: -13px;
	position: absolute;
	bottom: 10px;
	width: 10px;
}

.col50.disk .col50:last-child .field:first-child,
.col50.disk .col50:last-child .field:nth-child(2) {
	padding-left: 17px;
	padding-right: 0;
}
.field_double .field:last-child:not(:only-of-type) {
	margin-top: 3px;
}

.col100{
	width: 100%;
	float: left;
	padding-right: 9px;
	margin-bottom: 10px;
}
.col25{
	width: 25%;
	float: left;
	padding-right: 9px;
}
.col12{
	width: 12.5%;
	float: left;
	padding-right: 9px;
}
.col100 .col25 .sbm__filter{
	margin-top: 24px;
}
/*=====================================================================================================
      product custom styles
========================================================================*/




.presense.prepay{
	white-space: nowrap;
	text-align: left;
	margin-left: -58px;
}
.presense.prepay .card__info{
	width: auto;
}
.prepay-prepay{
	font-size: 14px;
	color: #000;
	font-family: FuturaNewBook,Arial,sans-serif;
}
.add-products-row{
	padding: 0 !important;
	border-bottom: 0;
}
.sheet table tr td:nth-child(3){
	width:166px;
}
.sheet table tr td:first-child{
    width: 102px;

}
.sheet table tr td:nth-child(5),.add-products-table-inner tbody tr td:nth-child(2){
    width: 143px;
   	text-align: left;
}
.sheet table tr td:nth-child(4),.add-products-table-inner tbody tr td:first-child {
    width: 102px;
    padding-left: 0 !important;
}
.sheet .sheet__in .sheet_result td:nth-child(6),.analog .sheet table tr td:nth-child(6),.add-products-table-inner tbody tr td:nth-child(3) {
	text-align: left;	
	width: 97px;
	font-family: FuturaNewDemi,Arial,sans-serif;
}
.sheet .sheet__in .sheet_result td:nth-child(7),.add-products-table-inner tbody tr td:nth-child(4){
	min-width: 132px;
	text-align: left;
}
.add-products-wrap{
	width:593px;
	float: right;
}

.add-products-wrap .card__info{
	text-align: left;
}
.dropdown-trigger {
  position: relative;
  cursor: pointer;
}
.product-wait-wrap{
	display: inline-block;
}
.product-wait{
	display: inline-block;
	position: relative;
	padding-right: 18px
}
.product-wait:hover:before{
	opacity: 0;
}
.product-wait:before,.product-wait:after{
	content: '';
	display: inline-block;
	vertical-align: top;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	transition: opacity .3s;
	width: 12px;
	height: 12px;
	right: 0;
	bottom: 2px;
}
.sheet_result .add-products-table-inner td{
	border-bottom: 1px solid #d8dee4;
}
.add-products-table{
	overflow: hidden;
	padding-top: 90px;
	margin-top: -90px;
	max-height: 176px;
	transition: max-height .6s .1s ease-in-out;
}
.add-products-table.open{
	max-height: 1840px;
}
.border-kemp {
	border-top: 2px solid #0e2031;
	border-bottom: 2px solid #0e2031;
	border-left: 2px solid #0e2031;
}
.border-kemp > tr > td:last-child{
	border-right: 2px solid #0e2031;
}
.border-kemp-has-alts > tr:first-child{
	background-color: #eef3f8;
}
/*.border > tr:first-child:after{
	content: '';
	display: inline-block;
	height: 100%;
	width: 2px;
	background-color: red;
}*/
.add-products-button{
	float: left;
	color: #0051a2;
	font-size: 14px;
	font-family: FuturaNewBook,Arial,sans-serif;
	display: inline-block;
	padding:25px 0;
	cursor: pointer;
	position: relative;
}
.add-products-button.open:after{
	transform:scale(1,-1);
}
.add-products-button:after{
/*	position: absolute;
	right: 0;
	bottom: 0;*/
	display: inline-block;
	vertical-align: middle;
	content:'';
	margin-left: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/icons/arrow_d.svg);
	width: 10px;
	height: 10px;
}
.product-wait:before{
	z-index: 2;
	background-image: url(../img/svg/info.png);
}
.product-wait:after{
	z-index: 1;
	background-image: url(../img/svg/infoh.png);
}
.dropdown-trigger:hover .dropdown-target {
  transition-delay: .15s;
  transform: translateY(5%);
  opacity: 1;
  visibility: visible;
}
.dropdown-target {
  position: absolute;
  z-index: 5;
  margin: -15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 45px;
  right: -155px;
  opacity: 0;
  transform: translateY(0);
  transition: opacity .25s, transform .25s, visibility .25s;
  visibility: hidden;
}
.dropdown-target .dropdown-inner {
  margin-top: 10px;
  margin-bottom: 2px;
  float: right;
  width: 220px;
  padding: 22px 10px 22px 20px;
  background: #fff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0,.29 );
}
.sheet table.basket__result tr td:nth-child(3),.sheet table.basket tr td:nth-child(3){
	width: 232px;
	padding-right: 10px;
}
.basket__result tr.border-kemp{
	border-right: 2px solid #0e2031;
}
.sheet table.basket tr td:nth-child(5),.sheet table.basket__result tr td:nth-child(5) {
    width: 97px;
}
.sheet table.basket tr td:nth-child(6),.sheet table.basket__result tr td:nth-child(6) {
    width: 130px;
}
.sheet table.basket tr td:nth-child(7),.sheet table.basket__result tr td:nth-child(7) {
    width: 156px;
   	text-align: left;
}
.sheet table.basket__result .addition{
    width: 136px;
   	text-align: left;
   	display: inline-block;
}
.basket__result .addition span{
    font-family: FuturaNewDemi,Arial,sans-serif;
}
.sheet table.basket__result tr td{
	padding:20px 0;
}
.basket__result .addition p{
    font-size: 14px;
}
.basket__result .addition .remove{
	right: -7px;
	top: -5px;
}
.basket__result td{
	height: 81px;
	vertical-align: top;
}
.order__box .order__item .title{
	font-family: FuturaNewDemi,Arial,sans-serif;
}
.order__col .card__info{
	/*padding-right: 5px;*/
	font-family: FuturaNewBookOblique,Arial,sans-serif;
	margin-bottom: 0;
}
.prepeay-msg{
	color: #48a200;
	font-family: FuturaNewDemi,Arial,sans-serif;
	display: block;
	margin-top: -15px;
	margin-bottom: 40px;
	font-size: 14px;
}
.result_conteiner.half-result{
	font-size: 0;
	margin-right: -60px;
}
.result_conteiner.half-result .found-block{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding-right: 60px;

}
.result_conteiner.half-result .found-block .sub_title{
	margin-top: 40px;
}
.result_conteiner.half-result .found-block .sizes-wrapper p {
	line-height: 1.3;
	font-weight: 500;
}
.result_conteiner.half-result .found-block .found-block__item{
	padding-left: 20px;
	position: relative;
	font-size: 16px;
	text-decoration: underline;
}
.result_conteiner.half-result .found-block .found-block__item:before{
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 10px;
	border-radius: 100%;
	background-color: #ffdc00;
	width: 6px;
	height: 6px;
}
.back-reset-auto{
	bottom: initial;
}