@font-face {
	font-family: 'FuturaNewBold';
	src: url('../fonts/FuturaNewBold.eot');
	src: url('../fonts/FuturaNewBold.woff') format('woff'), 
		 url('../fonts/FuturaNewBold.ttf') format('truetype'), 
		 url('../fonts/FuturaNewBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaNewBook';
	src: url('../fonts/FuturaNewBook.woff') format('woff'), 
		 url('../fonts/FuturaNewBook.ttf') format('truetype'), 
		 url('../fonts/FuturaNewBook.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaNewDemi';
	src: url('../fonts/FuturaNewDemi.eot');
	src: url('../fonts/FuturaNewDemi.woff') format('woff'), 
		 url('../fonts/FuturaNewDemi.ttf') format('truetype'), 
		 url('../fonts/FuturaNewDemi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaNewHeavy';
	src: url('../fonts/FuturaNewHeavy.eot');
	src: url('../fonts/FuturaNewHeavy.woff') format('woff'), 
		 url('../fonts/FuturaNewHeavy.ttf') format('truetype'), 
		 url('../fonts/FuturaNewHeavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaNewMedium';
	src: url('../fonts/FuturaNewMedium.eot');
	src: url('../fonts/FuturaNewMedium.woff') format('woff'), 
		 url('../fonts/FuturaNewMedium.ttf') format('truetype'), 
		 url('../fonts/FuturaNewMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaNewBookOblique';
	src: url('../fonts/FuturaNewBookOblique.eot');
	src: url('../fonts/FuturaNewBookOblique.woff') format('woff'), 
		 url('../fonts/FuturaNewBookOblique.ttf') format('truetype'), 
		 url('../fonts/FuturaNewBookOblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$FuturaNewBold: 'FuturaNewBold', Arial, sans-serif;
$FuturaNewBook: 'FuturaNewBook', Arial, sans-serif;
$FuturaNewDemi: 'FuturaNewDemi', Arial, sans-serif;
$FuturaNewHeavy: 'FuturaNewHeavy', Arial, sans-serif;
$FuturaNewMedium: 'FuturaNewMedium', Arial, sans-serif;
$FuturaNewBookOblique: 'FuturaNewBookOblique', Arial, sans-serif;

html {
	text-size-adjust: 100%;
	font-size: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}
h1 {
	font-family: $FuturaNewBook;
	font-size: 36px;
	font-weight: normal;
}
h2 {
	font-family: $FuturaNewMedium;
	font-weight: normal;
	font-size: 28px;
}
h3 {
	font-family: $FuturaNewDemi;
	font-weight: normal;
	font-size: 18px;
}
.header {
	.auth-bar {
		a {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
		span {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
	.phone {
		.phones {
			font-family: $FuturaNewMedium;
			font-size: 18px;
		}
	}
	.nav {
		ul {
			font-size: 0;
		}
		li {
			a {
				font-family: $FuturaNewBook;
				font-size: 14px;
			}
		}
	}
	h1 {
		font-family: $FuturaNewBook;
		font-size: 36px;
		font-weight: normal;
	}
}
.breadcrumbs {
	font-size: 0;
	li {
		a {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
}
.tab__item {

	p {
		font-family: $FuturaNewBook;
		font-size: 18px;
	}
}
.form {
		.input, .textarea {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
		.sbm {
			span {
				font-family: $FuturaNewBook;
				font-size: 18px;
			}
		}
		p {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
	}
.tab__container {
	.tab__nav {
		font-size: 0;
		li {
			a {
				font-family: $FuturaNewDemi;
				font-size: 18px;
			}
		}
	}
}
.lead {
	.lead__item {
		.title {
			font-family: $FuturaNewDemi;
			font-size: 18px;
		}
		span {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
	}
	.lead__row {
		font-size: 0;
	}
}
.tab__sliders {
	.tab__nav {
		font-size: 0;
		li {
			a {
				font-family: $FuturaNewBook;
				font-size: 14px;
			}
		}
	}
}
.sliders, .tab__content.lists {
	.item {
		.title {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
		.data {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
		.price {
			font-family: $FuturaNewDemi;
			font-size: 18px;
			font-weight: normal;
		}
	}
}
.card__info, .presence {
	font-family: $FuturaNewBook;
	font-size: 14px;
}
.all__search {
	.search__container {
		.title {
			font-family: $FuturaNewHeavy;
			font-size: 18px;
			font-weight: normal;
		}
	}
}
.form {
	.field {
		font-size: 0;
		.label__field {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
		.input, .ms-choice {
			font-family: $FuturaNewBook;
			font-size: 18px;			
		}
		.reset__filter, .sbm__filter {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
}
.reset {
	.reset__filter {
		font-family: $FuturaNewBook;
		font-size: 14px;
	}
}
.pagin__row {
	.ms-choice {
		span {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
	.pagin {
		a, span {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
}
.btn {
	span {
		font-family: $FuturaNewBook;
		font-size: 14px;
	}
}
.list {
	font-size: 0;
	li {
		a {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
	}
	&.strong {
		li {
			a {
				font-family: $FuturaNewDemi
			}
		}
	}
}
.spinner {
	font-size: 0;
	.spinner__minus, .spinner__plus, .spinner__input {
		font-family: $FuturaNewBook;
		font-size: 18px;
	}
}
.catalog {
	font-size: 0;
	.item {
		.title {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
	}
}
.search__bar {
	.title {
		font-family: $FuturaNewDemi;
		font-size: 18px;
	}
}
.article__block {
	h3 {
		font-family: $FuturaNewMedium;
		font-size: 28px;
		font-weight: normal;
	}
}
p {
	font-family: $FuturaNewBook;
	font-size: 18px;
}
.show__more {
	& + a {
		font-family: $FuturaNewBook;
		font-size: 18px;
	}
}
.one__click {
	font-family: $FuturaNewBook;
	font-size: 14px;
}
.spinner__price {
	font-family: $FuturaNewBook;
	font-size: 18px;
}
.spinner__result {
	font-family: $FuturaNewDemi;
	font-size: 18px;
}
.btn__link {
	font-family: $FuturaNewBook;
	font-size: 14px;
}
.link__more {
	font-family: $FuturaNewBook;
	font-size: 18px;
}
.product-spec {
	font-family: $FuturaNewBook;
	.product-spec__name, .product-spec__value {
		font-size: 18px;
	}
}
.btn__back {
	font-family: $FuturaNewBook;
	font-size: 14px;
}
.left__sidebar {
	.nav {
		.nav__wrap {
			font-family: $FuturaNewDemi;
			font-size: 18px;
		}
		.list-links {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
	}
}
.relation {
	font-family: $FuturaNewDemi;
	font-size: 18px;

}
figure {
	figcaption {
		font-family: $FuturaNewBook;
		font-size: 14px;
	}
}
blockquote {
	font-family: $FuturaNewBook;
	font-size: 18px;
}
.advantages {
	font-size: 0;
	.title {
		font-family: $FuturaNewDemi;
		font-size: 18px;
	}
}.content {
	.nav {
		font-size: 0;
		li {
			a {
				font-family: $FuturaNewDemi;
				font-size: 18px;
			}
		}
	}
}
.accord {
	.accord__but {
		font-family: $FuturaNewBook;
		font-size: 18px;
	}
}
.marked {
	li {
		font-family: $FuturaNewBook;
		font-size: 18px;
	}
}
.balloon__address {
	font-family: $FuturaNewBook;
}
.popover {
	.baloon {
		font-family: $FuturaNewBook;
		font-size: 12px;
		.balloon__title {
			font-size: 14px;
		}
		.balloon__address {
			font-family: $FuturaNewBook;
		}
		.balloon__row {
			.balloon__col {
				p {
					font-size: 12px;
					sup {
						font-size: 7px;
					}
				}
			}
		}
	}
}
.geolocation {
	table {
		th {
			font-family: $FuturaNewBook;
			font-size: 14px;
			font-weight: normal;
		}
		td {
			font-family: $FuturaNewBook;
			font-size: 18px;
			&:first-child {
				font-family: $FuturaNewDemi;
			}
		}
	}
}
.goods {
	h2 {
		font-family: $FuturaNewMedium;
		font-size: 28px;
		font-weight: normal;
	}
	.row {
		&.slide__box {
			font-size: 0;
			ul {
				li {
					font-family: $FuturaNewDemi;
					font-size: 18px;
					a {
						font-family: $FuturaNewBook;
					}
				}
			}
		}
	}
	.btn-case {
		font-size: 0;
		.btn {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
	.nav {
		ul {
			font-size: 0;
		}
		li {
			a {
				font-family: $FuturaNewDemi;
				font-size: 18px;
				font-weight: normal;
			}
		}
	}
}
.map {
	.form-row {
		.input {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
	.nav {
		ul {
			font-size: 0;
		}
		li {
			a {
				font-family: $FuturaNewDemi;
				font-size: 18px;
			}
		}
	}
	.col50 {
		ul {
			font-size: 0;
			li {
				font-family: $FuturaNewDemi;
				font-size: 18px;
				a {
					font-family: $FuturaNewBook;
				}
			}
		}
		.quote {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
}
.footer {
	.copyright, .developers {
		font-family: $FuturaNewBook;
		font-size: 14px;
	}
	.center {
		.phones {
			font-family: $FuturaNewMedium;
			font-size: 18px;
		}
	}
}
.sheet {
	.sheet__wrap {
		.sorting__item, td {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}			
	}
	.sheet__in {
		.sheet_result, .basket__result {
			td {
				&:nth-child(6) {
					font-family: $FuturaNewDemi;
				}
			}
		}
		.accord {
			.accord__but {
				font-size: 14px;
			}
		}
	}
	.spinner {
		.spinner__input {
			font-size: 14px;
		}
	}
}
.order {
	.title {
		font-family: $FuturaNewBook;
		font-size: 18px;
		& + div {
			font-family: $FuturaNewDemi;
		}
	}
	&.personal-order {
		.order__col {
			.result_sum {
				font-family: $FuturaNewMedium;
				font-size: 14px;
			}
			.delivery_sum {
				font-family: $FuturaNewBookOblique;
				font-size: 14px;
			}
			.total {
				font-family: $FuturaNewBook;
				font-size: 18px;
				span {
					font-family: $FuturaNewDemi;
				}
			}
		}
	}
}
.order__success {
	text-align: center;
	.title {
		font-family: $FuturaNewMedium;
		font-size: 28px;
	}
}
.form__row {
	.title {
		font-family: $FuturaNewDemi;
		font-size: 18px;
	}
}
.more__info {
	font-family: $FuturaNewBookOblique;
	font-size: 14px;
}
.data__person {
	.person {
		font-family: $FuturaNewBook;
		.person__name {
			font-size: 14px;
		}
		.person__val {
			font-size: 18px;
		}
	}
}
.history__pagin {
	a {
		font-family: $FuturaNewBook;
		font-size: 14px;
	}
}
.sheet {
	.info__order {
		.info-item {
			.title {
				font-family: $FuturaNewDemi;
				font-size: 15px;
			}
			p {
				font-family: $FuturaNewBook;
				font-size: 15px;
			}
		}
	}
}
.multi {
	.ms-drop {
		ul {
			& > li {
				font-family: $FuturaNewBook;
				font-size: 18px;
			}
		}
	}
}
.log_in  {
	& > div:first-child {
		font-family: $FuturaNewBookOblique;
		font-size: 14px;
	}
}
.order__box {
	.edit {
		font-family: $FuturaNewBook;
		font-size: 14px;
	}
	h3 {
		font-family: $FuturaNewDemi;
		font-size: 18px;
	}
}
.order__item {
	.title, .subtitle {
		font-family: $FuturaNewBook;
		font-size: 14px;
	}
	.price {
		font-family: $FuturaNewDemi;
		font-size: 14px;
	}
	.count {
		font-family: $FuturaNewBook;
		font-size: 14px;
		span {
			font-family: $FuturaNewDemi;
		}
	}
}
.delivery__selects {
	.menu {
		.menu__item {
			font-family: $FuturaNewBook;
			font-size: 18px;
		}
		.menu__list {
			label {
				span {
					font-family: $FuturaNewBook;
					font-size: 18px;
				}
			}
		}
	}
	.marked {
		li {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
}
.check__list {
	li {
		label {
			span {
				font-family: $FuturaNewBook;
				font-size: 14px;
				span {
					font-family: $FuturaNewDemi;
				}
			}
		}
		.descr {
			font-family: $FuturaNewBookOblique;
			font-size: 14px;
		}
	}
}
.pickup {
	.check__list {
		li {
			.name {
				font-family: $FuturaNewDemi;
				font-size: 14px;
			}
			.address {
				font-family: $FuturaNewBook;
				font-size: 14px;
			}
			.time {
				font-family: $FuturaNewBookOblique;
				font-size: 14px;
			}
		}
	}
}
.number__list {
	li {
		font-family: $FuturaNewBook;
		font-size: 14px;
		span {
			font-family: $FuturaNewMedium;
		}
		&::before {
			font-family: $FuturaNewBook;
			font-size: 14px;
		}
	}
}
.note {
	font-family: $FuturaNewBookOblique;
	font-size: 14px;
}
.popup__wrap {
	.popup__title {
		font-family: $FuturaNewMedium;
		font-size: 28px;
	}
	.form p {
		font-family: $FuturaNewBookOblique;
		font-size: 14px;
	}
	.link_close {
		font-family: $FuturaNewBook;
		font-size: 18px;
	}
}