@charset "UTF-8";
html, body {
	height: 100%;
}
* {
	margin: 0;
}
*, *::after, *::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a[data-href], a[data-scroll] {
	cursor: pointer;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
button {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
@mixin transition($name) {
	transition: $name 0.3s ease 0s;
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@function transition-property-names($props) {
  $new-props: ();

  @each $prop in $props {
	$new-props: append($new-props, transition-property-name($prop), comma);
  }

  @return $new-props;
}
$white: #ffffff;
$yellow: #ffdc00;
$darkblue: #0b1a28;
$grey: #767d83;
$darkgrey: #223242;
$red: #e50005;
$darkred: #e10005;
$blue: #0051a2;
$black: #000000;
$green: #48a200;
body {
	min-width: 1000px;
}
h2 {
	color: $black;
}
.l {
	width: 980px;
	margin: 0 auto;
	@include clearfix;
}
#indexpage {
	.header {
		&.main {
			min-height: 390px;
			background-image: url(../img/header-bg.jpg);
			background-size: cover;
			background-position: center center;
		}
	}
	.tab__container {
		&.search {
			margin-top: -55px;
		}
	}
	.out {
		padding-top: 0;
	}
}
.header {
	position: relative;
	&.main {
		min-height: 135px;
		background-color: #0e2031;
	}
	.header__top {
		max-width: 1600px;
		padding: 0 50px;
		position: relative;
		width: 100%;
		margin: 0 auto;
	}
	.logo {
		width: 140px;
		height: 73px;
		background-image: url(../img/logo.png);
		background-size: cover;
		display: block;
		position: absolute;
		left: 50px;
		top: 36px;
	}
	.auth-bar {
		top: 17px;
		right: 50px;
		position: absolute;
		a {
			color: $white;
			letter-spacing: 0.71px;
		}
		span {
			color: $white;
		}
		.auth-top {
			margin-bottom: 32px;
		}
		.auth-bottom {
			text-align: right;
			.basket {
				position: relative;
				padding-left: 40px;
				&::before {
					content: "";
					top: -2px;
					left: 0;
					background-image: url(../img/basket.png);
					background-size: cover;
					width: 26px;
					height: 21px;
					display: inline-block;
					position: absolute;
				}
			}
		}
	}
	.l {
		position: relative;
		top: 65px;
	}
	.l-top {
		@include clearfix;
		margin-bottom: 67px;
	}
	.phone {
		float: right;
		.phones {
			color: $white;
			letter-spacing: 0.75px;
			line-height: 27px;
			display: inline-block;
			border-bottom: 1px dotted #ffffff;
		}
	}
	.nav {
		overflow: hidden;
		text-align: right;
		padding: 2px 78px 10px;
		li {
			display: inline-block;
			a {
				color: $white;
				letter-spacing: 0.5px;
				padding: 0 14px;
				&.baloon {
					padding-left: 36px;
					position: relative;
					&::before {
						content: '';
						background-image: url(../img/svg/loc.svg);
						background-size: cover;
						width: 16px;
						height: 21px;
						position: absolute;
						left: 12px;
						top: -1px;
						display: inline-block;
					}
				}
			}
		}
	}
	h1 {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		color: $white;
		letter-spacing: -0.1px;
		span {
			color: $yellow;
		}
	}
}
@media screen and (max-width: 1366px) {
	.header {
		.header__top {
			max-width: 980px;
		}
		.logo {
			left: 0;
		}
		.auth-bar {
			right: 0;
			.auth-top {
				display: inline-block;
				margin-bottom: 0;
				margin-right: 32px;
			}
			.auth-bottom {
				display: inline-block;
			}
		}
	}
}
.fixed__case {
	padding-top: 11px;
	background-color: #0e2031;
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	&.fixed {
		position: fixed;
		z-index: 1;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.29);
	}
	.tab__content {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: -1;
		width: 100%;
	}
}
#indexpage {
	.out {
		background-color: #eef3f8;
		position: static;
	}
}
.head {
	background-color: #eef3f8;
	padding: 33px 0 28px;
	h1 {
		margin-bottom: 13px;
	}
}
.out {
	background-color: #ffffff;
	position: relative;
	padding-top: 61px;
	.row {
		@include clearfix;
		margin-bottom: 32px;
	}
	.search {
		.tab__content {
			box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.29);
			.tab__item {
				p {
					color: #505050;
					a {
						color: #0051a2;
					}
				}
			}
		}
	}
}
.cont {
	@include clearfix;
}
.breadcrumbs {
	margin-left: -31px;
	li {
		display: inline-block;
		margin-left: 26px;
		position: relative;
		&::after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 0 3.5px 6px;
			border-color: transparent transparent transparent #007bff;
			position: absolute;
			top: 9px;
			right: -18px;
			margin-left: -3px;
		}
		&:last-of-type {
			&::after {
				display: none;
			}
		}
		a {
			color: $black;
			padding: 2px 5px;
			display: inline-block;
			letter-spacing: 0.4px;
		}
	}
}
.form {
	&.big-search {
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		.input {
			width: 100%;
			height: 40px;
			border: 2px solid #d8d8d8;
			border-radius: 4px;
			padding: 0 210px 0 17px;
		}
		.input::-webkit-input-placeholder {
			color: #c0bfbf;
		}
		.input:-moz-placeholder {
			color: #c0bfbf;
		}
		.sbm {
			width: 195px;
			height: 40px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			background-color: #0051a2;
			text-align: center;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			span {
				color: $white;
			}
		}
	}
}
.tab__container {
	@include clearfix;
	&.search {
		position: relative;
		z-index: 2;
		.tab__nav {
			li {
				float: left;
				border-left: 1px solid #000;
				text-align: center;
				background-color: #f7f7f7;
				width: 20%;
				&:first-of-type {
					border-top-left-radius: 3px;
					border-color: transparent;
					&.active {
						border-radius: 0;
						&::before {
							border-top-left-radius: 3px;
						}
					}
				}
				&:last-of-type {
					border-top-right-radius: 3px;
					&.active {
						border-radius: 0;
						&::before {
							border-top-right-radius: 3px;
						}
					}
				}
				&.active {
					background-color: #fff;
					&::before {
						height: 3px;
						background-color: $red;
						top: -3px;
						position: absolute;
					}
					a {
						border-color: transparent;
					}
				}
				a {
					width: 100%;
					height: 50px;
					display: inline-block;
					line-height: 48px;
					border-bottom: 2px solid #e8e8e8;
				}			
			}
		}
		.tab__content {
			background-color: #fff;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			.tab__item {
				padding: 35px 50px 33px;
				display: none;
				&.point-4 {
					padding-right: 19px;
				}
			}
			.mark {
				color: $blue;
				border-bottom: 1px dotted $blue;
				cursor: pointer;
			}
		}
	}
	.tab__nav {
		@include clearfix;
		li {
			position: relative;
			display: inline-block;
			&.active {
				&:before {
					content: '';
					width: 100%;
				}
			}
			a {
				display: inline-block;
			}
		}
	}
	.tab__content {
		background-color: #fff;
		.tab__item {
			display: none;
			.fade { 
				opacity: 0;
				transition: opacity 0.3s linear;
			}
			&.visible {
				.fade {
					opacity: 1;
				}
			}
		}
	}
}
.lead {
	padding: 8px 19px 12px;
	.lead__item {
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
		padding: 0 15px 0 65px;
		.title {
			color: #000000;
			@include transition(color);
		}
		span {
			color: #505050;
			line-height: 24px;
			letter-spacing: -0.06px;
		}
		&:hover {
			.title {
				color: $red;
			}
		}
		&[class*='icon__'] {
			position: relative;
			&::after {
				position: absolute;
				content: '';
			}
		}
		&.icon__basket {
			&:after {
				width: 33px;
				height: 35px;
				background-image: url(../img/icons/basket.png);
				background-repeat: no-repeat;
				top: 6px;
				left: 10px;
			}
		}
		&.icon__locate {
			&:after {
				width: 24px;
				height: 34px;
				background-image: url(../img/icons/locate.png);
				background-repeat: no-repeat;
				left: 35px;
				top: 2px;
			}
		}
		&.icon__service {
			&:after {
				width: 34px;
				height: 32px;
				background-image: url(../img/icons/service.png);
				background-repeat: no-repeat;
				left: 48px;
				top: 2px;
			}
		}
		&.icon__tire {
			&:after {
				width: 33px;
				height: 33px;
				background-image: url(../img/icons/tire.png);
				background-repeat: no-repeat;
				left: 12px;
				top: 5px;
			}
		}
		&.icon__storage {
			&:after {
				width: 34px;
				height: 34px;
				background-image: url(../img/icons/storage.png);
				background-repeat: no-repeat;
				left: 29px;
				top: 6px;
			}
		}
		&.icon__reliability {
			&:after {
				width: 32px;
				height: 30px;
				background-image: url(../img/icons/partner.png);
				background-repeat: no-repeat;
				top: 6px;
				left: 49px;
			}
		}
	}
	.lead__row {
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}
		.lead__item:nth-of-type(2) {
			padding-left: 83px; 
		}
		.lead__item:nth-of-type(3) {
			padding-left: 101px; 
		}
	}
}
.white__section {
	background-color: $white;
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgba(46, 110, 174, 0.17);
	padding: 18px 20px;
}
.tab__sliders {
	.tab__container {
		padding-bottom: 15px;
	}
	h2 {
		float: left;
	}
	.navi__row {
		padding-bottom: 0;
	}
	.tab__nav {
		overflow: hidden;
		text-align: center;
		padding-left: 34px;
		margin-bottom: -2px;
		padding-right: 60px;
		li {
			padding: 0 8px;
			a {
				letter-spacing: 0.6px;
				padding: 12px 4px 26px;
			}
			&.active {
				a {
					color: $darkred;
					position: relative;
					&::after {
						content: '';
						height: 2px;
						left: 3px;
						right: 0;
						bottom: 0;
						background-color: $darkred;
						position: absolute;
					}
				}
			}
		}
	}
	.sliders {
		margin: 0 -4px;
		.item {
			margin: 0 4px;
		}
		&.card {
			margin: 0 -2px;
			.item {
				margin: 0 2px;
			}
		}
	}
	.tab__item {
		.slick-slider {
			.slick-list {
				opacity: 0;
				transform: translate3d(0, -10px, 0);
				transition: transform 0.3s linear, opacity 0.3s linear;
			}
		}
		&.visible {
			.slick-slider {
				.slick-list {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}
.tab__container {
	.navi__row {
		h2 {
			float: left;
			@include clearfix;
		}
	}		
}
.navi__row {
	border-bottom: 2px solid #d8dee4;
	margin-bottom: 19px;
	padding-bottom: 19px;
	@include clearfix;
}
.sliders {
	//padding: 0 8px;
	.item {
		width: 231px;
		padding: 8px;
		display: inline-block;
		&.stock {
			background-color: $yellow;
		}
		.img-box {
			margin-bottom: 18px;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.title {
			color: $blue;
			padding: 0 7px;
			margin-bottom: 5px;
		}
		.data, .card__info {
			color: #a9a9a9;
			display: inline-block;
			letter-spacing: 0.7px;
			padding: 0 8px;
		}
		.card__info {
			margin-bottom: 10px;			
		}
	}
	&.card {
		padding: 0;
		margin: 0 -8px;
		.item {
			border: 1px solid #d8dee4;
			margin: 0 8px;
			height: 418px;
			padding-top: 0;
			padding-bottom: 46px;
			position: relative;
			.img-box {
				position: relative;
				height: 231px;
				margin-bottom: -1px;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0);
					max-height: 100%;
					max-width: 100%;
				}
			}
			.title {
				letter-spacing: -0.4px;
				padding-right: 6px;
				overflow: hidden;
				max-height: 70px;
			}
			.price {
				float: left;
				min-width: 50%;
				padding-left: 7px;
				color: $black;
			}
			.presence {
				float: right;
				min-width: 50%;
				letter-spacing: 0.7px;
				padding-right: 6px;
				margin-top: 5px;
				text-align: right;
				.icon {
					display: inline-block;
					margin-right: 5px;
				}
				&.is-green {
					color: $green;
					.icon {
						background-image: url(../img/check.png);
						width: 18px;
						height: 14px;
					}
				}
			}
			.spinner {
				position: absolute;
				bottom: 16px;
				left: 14px;
			}
		}
	}
}
.spinner {
	position: relative;
	border-radius: 3px;
	background-color: $white;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #d8dee4;
	.spinner__minus {
		display: inline-block;
		height: 28px;
		line-height: 26px;
		text-align: center;
		vertical-align: top;
		width: 30px;
		color: #b7bcc2;
		cursor: pointer;
	}
	.spinner__input {
		display: inline-block;
		height: 28px;
		line-height: 26px;
		text-align: center;
		vertical-align: top;
		width: 38px;
		padding: 0 5px;
		color: #000000;
	}
	.spinner__plus {
		display: inline-block;
		height: 28px;
		line-height: 26px;
		text-align: center;
		vertical-align: top;
		width: 30px;
		color: #b7bcc2;
		cursor: pointer;
	}
	.btn_basket {
		display: inline-block;
		vertical-align: top;
		border-radius: 0 3px 3px 0;
		position: relative;
		height: 30px;
		top: -1px;
		right: -1px;
		margin-bottom: -2px;
		min-width: 100px;
		cursor: pointer;
	}
}
.btn {
	background-color: $blue;
	display: inline-block;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	span {
		color: $white;
	}
}
.list {
	margin-left: -12px;
	li {
		display: inline-block;
		margin-bottom: 5px;
		a {
			color: #000000;
			display: inline-block;
			padding: 2px 12px;
		}
	}
}
.navi__slider {
	float: right;
	width: 60px;
	position: relative;
	right: 0;
	top: 4px;
	.arrow-slider {
		float: left;
		width: 50%;
		height: 30px;
		border: 1px solid #d8dee4;
		cursor: pointer;
		span {
			width: 7px;
			height: 13px;
			display: inline-block;
			.svg_arrow {
				fill: $black;
			}
		}
		&.slide__prev {
			margin-right: -1px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&.slide__next {
			margin-right: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

}
.slick-arrow {
	position: absolute;
	top: -71px;
	width: 30px;
	height: 30px;
	border: 1px solid #d8dee4;
	cursor: pointer;
	span {
		width: 7px;
		height: 13px;
		display: inline-block;
		.svg_arrow {
			fill: $black;
		}
	}
	&.slick-prev {
		margin-right: -1px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		right: 31px;
	}
	&.slick-next {
		margin-right: -1px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		right: 2px;
	}
}
.global__search {
	.white__section {
		position: relative;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			background-color: #c1e0ff;
			width: 50%;
			height: 600px;
			top: -199px;
			right: 35px;
			transform: rotate(-62.5deg);
		}
	}
}
.all__search {
	padding: 0 17px;
	position: relative;
	z-index: 2;
	.logo__box {
		width: 103px;
		height: 54px;
		background-image: url(../img/logo.png);
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		vertical-align: middle;
		margin-right: 107px;
		position: relative;
		top: -5px;
	}
	.search__container {
		display: inline-block;
		vertical-align: middle;
		width: 692px;
		.form {
			margin-bottom: 7px;
			.input {
				background-color: $white;
			}
		}
		.title {
			color: $black;
			letter-spacing: 0.1px;
			margin-bottom: 8px;
		}
	}
}
.form {
	&> .col50 {
		margin-top: -9px;
		padding-right: 16px;
		&:last-of-type {
			padding-left: 18px;
			padding-right: 0;
		}
		h2 {
			margin-bottom: 16px;
		}
		.col50 {
			width: 47.5%;
			padding-right: 9px;
		}
		&.circle__shadow {
			position: relative;
			background-color: $white;
			&::after {
				content: '';
				position: absolute;
				left: -45px;
				top: 0;
				height: 100%;
				width: 32px;
				background-image: url(../img/shadow.png);
			}
		}
	}
}
.form {
	@include clearfix;
	.field {
		margin-bottom: 16px;
		&:last-of-type {
			margin-bottom: 20px;
		}
		.label__field {
			color: #949494;
			margin-bottom: 7px;
			letter-spacing: 0.65px;
		}
		.input {
			width: 100%;
			height: 30px;
			border: 1px solid #d8dee4;
			border-radius: 3px;
			padding: 0 7px;
		}
		&.double {
			.input {
				width: 50%;
				display: inline-block;
				&:first-of-type {
					border-top-left-radius: 3px;
					border-bottom-left-radius: 3px;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					border-right-color: transparent;
				}
				&:last-of-type {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
				}
			}
		}
		.reset__filter {
			color: #949494;
			letter-spacing: 0.65px;
			display: inline-block;
			padding: 8px 2px;
		}
		.sbm__filter {
			height: 30px;
			border-radius: 3px;
			width: 100%;
			background-color: #0051a2;
			margin-top: 3px;
			span {
				color: $white;
			}
		}
		.multi {
			width: 100%;
			.ms-parent {
				display: inline-block;
				position: relative;
				vertical-align: middle;
			}
			.ms-choice {
				background-color: #fff;
				border: 1px solid #d8dee4;
				border-radius: 3px;
				color: #444;
				cursor: pointer;
				display: block;
				height: 30px;
				line-height: 28px;
				overflow: hidden;
				padding: 0;
				text-align: left;
				text-decoration: none;
				white-space: nowrap;
				width: 100%;
				& > span {
					display: block;
					left: 0;
					overflow: hidden;
					padding-left: 7px;
					position: absolute;
					right: 20px;
					text-overflow: ellipsis;
					top: 0;
					white-space: nowrap;
				}
				& > div {
					background: url("../img/svg/select.svg") no-repeat;
					height: 14px;
					position: absolute;
					right: 11px;
					top: 8px;
					width: 5px;
				}
			}
		}
	}
}
.catalog {
	margin-left: -18px;
	margin-top: 27px;
	margin-bottom: -22px;
	.item {
		display: inline-block;
		margin-left: 18px;
		border: 1px solid #d8dee4;
		width: 231.5px;
		height: 284px;
		padding: 0 8px;
		text-align: center;
		margin-bottom: 22px;
		.img-box {
			position: relative;
			height: 231px;
			margin-bottom: -1px;
			img {
				max-width: 100%;
				max-height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}
		.title {
			padding-left: 4px;
			letter-spacing: 0.2px;
			color: $blue;
		}
	}
}
.goods {
	background-color: $darkblue;
	padding: 28px 0 0;
	h2 {
		color: $white;
		letter-spacing: 0.1px;
		margin-bottom: 26px;
	}
	.row {
		margin-bottom: 0;
		@include clearfix;
		&:first-of-type {
			margin-bottom: 25px;
		}
		.row {
			@include clearfix;
			margin-bottom: 25px;
			&:first-of-type {
				padding-top: 20px;
			}
			&:last-of-type {
				margin-bottom: 45px;
			}
		}
		&.slide__box {
			//padding: 20px 0;
			display: none;
			ul {
				display: inline-block;
				width: 25%;
				vertical-align: top;
				&:nth-child(2) {
					padding-left: 6px;
				}
				&:nth-child(3) {
					padding-left: 10px;
				}
				&:nth-child(4) {
					padding-left: 12px;
				}
				li {
					color: $white;
					margin-bottom: 3px;
					padding-right: 15px;
					 a {
					 	color: #a8aeb4;
					 	display: inline-block;
					 	padding: 6px 0 5px;
					 }
				}
			}
		}
	}
	.btn-case {
		float: right;
		max-width: 192px;
		width: 100%;
		margin-right: 42px;
		.btn {
			//width: 50%;
			background-color: transparent;
			text-align: center;
			line-height: 28px;
			height: 30px;
			color: $white;
			display: inline-block;
			border: 1px solid #ffffff;
			user-select: none;
			cursor: pointer;
			letter-spacing: 0.8px;
			&.btn__out {
				width: 47%;
				margin-right: -1px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			&.btn__in {
				width: 53%;
				border-bottom-right-radius: 4px;
				border-top-right-radius: 4px;
			}
			&.active {
				background-color: $white;
				color: $darkgrey;
			}
		}
	}
	.nav {
		overflow: hidden;
		ul {
			margin-left: -12px;
			li {
				display: inline-block;
				a {
					color: $yellow;
					display: inline-block;
					padding: 2px 12px;
				}
			}
		}
	}
}
.map {
	min-height: 572px;
	background-image: url(../img/map-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
	padding-top: 64px;
	padding-bottom: 7px;
	.row {
		@include clearfix;
		margin-bottom: 57px;
	}
	.form-row {
		float: right;
		max-width: 231px;
		width: 100%;
		position: relative;
		.input {
			width: 100%;
			height: 30px;
			background-color: $white;
			padding: 0 30px 0 14px;
			border-radius: 3px;
			color: $darkgrey;
		}
		.input::-webkit-input-placeholder {
			color: $darkgrey;
		}
		.input:-moz-placeholder {
			color: $darkgrey;
		}
		.sbm {
			height: 30px;
			width: 30px;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			.icon {
				width: 15px;
				height: 15px;
				display: inline-block;
				margin-top: 4px;
				margin-right: 4px;
				.main {
					fill: #8f8f8f;
				}
			}
		}
	}
	.nav {
		overflow: hidden;
		ul {
			margin-left: -12px;
		}
		li {
			display: inline-block;
			a {
				color: $white;
				display: inline-block;
				padding: 2px 12px;
			}
		}
	}
	.col50 {
		font-size: 0;
		&:nth-child(2) {
			padding-left: 10px;
		}
		ul {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			padding-right: 5px;
			&:nth-child(2) {
				padding-left: 8px;
			}
			li {
				color: $grey;
				margin-bottom: 7px;
				a {
					color: $white;
					padding: 3px 0 2px;
					display: inline-block;
				}
			}
		}
		.quote {
			color: $grey;
			max-width: 90%;
			letter-spacing: -0.08px;
			margin-top: 44px;
			line-height: 17px;
		}
	}
}
.col50 {
	width: 50%;
	float: left;
}
.footer {
	background-color: $darkblue;
	padding: 34px 0 43px;
	.copyright {
		float: left;
		color: $grey;
		padding-top: 8px;
	}
	.developers {
		float: right;
		max-width: 182px;
		padding-left: 46px;
		margin-right: 49px;
		color: $grey;
		width: 100%;
		letter-spacing: -0.1px;
		position: relative;
		&::before {
			content: '';
			width: 31px;
			height: 31px;
			background-image: url(../img/flex.png);
			position: absolute;
			left: 0;
			top: 2px;
		}
	}
	.center {
		overflow: hidden;
		text-align: right;
		.phones {
			color: $white;
			letter-spacing: 0.75px;
			display: inline-block;
			margin-top: 5px;
			margin-right: 87px;
		}
	}
}